################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.gitignore
/.gitignore
/.vs/slnx.sqlite
/ECommerceWebApi/.vs/ECommerceWebApi/FileContentIndex/19ad52f3-5955-4efa-b42f-34f1bcdeee3f.vsidx
/ECommerceWebApi/.vs/ECommerceWebApi/FileContentIndex/52501fe6-87fb-4ab3-abe6-8da87ba11bd7.vsidx
/**.vsidx
/.vs/**.vsidx
/public/static/**/bin/
*.vsidx
/.vs/vakifbank-final-case/FileContentIndex/46ee863d-3595-43b4-ba77-92290d64ee2e.vsidx
/.vs/vakifbank-final-case/v17/.wsuo
/ECommerce.Data/bin/Debug/net7.0/ECommerce.Data.dll
/ECommerce.Data/bin/Debug/net7.0/ECommerce.Data.pdb
/.vs/VSWorkspaceState.json
/ECommerce.Data/obj/Debug/net7.0/ref/ECommerce.Data.dll
/ECommerce.Data/obj/Debug/net7.0/refint/ECommerce.Data.dll
/ECommerce.Data/obj/Debug/net7.0/ECommerce.Data.csproj.AssemblyReference.cache
/ECommerce.Operation/obj/Debug/net7.0/ECommerce.Operation.csproj.AssemblyReference.cache
*.txt
/ECommerceWebApi/.vs/ECommerceWebApi/v17/.suo
*.bin
*.dll
*.config
/ECommerceWebApi/.vs/ECommerceWebApi/DesignTimeBuild/.dtbcache.v2
/ECommerceWebApi/.vs/ECommerceWebApi/FileContentIndex/7cefe968-7899-4667-aaf0-4a6c72ad53be.vsidx
/ECommerceWebApi/obj/ECommerceWebApi.csproj.EntityFrameworkCore.targets
/ECommerceWebApi/obj/ECommerceWebApi.csproj.nuget.dgspec.json
/ECommerceWebApi/obj/ECommerceWebApi.csproj.nuget.g.props
/ECommerceWebApi/obj/project.assets.json
/ECommerceWebApi/obj/project.nuget.cache
/ECommerceWebApi/obj/Release/net7.0/ECommerceWebApi.assets.cache
/ECommerceWebApi/bin/Debug/net7.0/ECommerce.Operation.dll
/ECommerceWebApi/.vs/ProjectEvaluation/ecommercewebapi.metadata.v7.bin
/ECommerceWebApi/.vs/ProjectEvaluation/ecommercewebapi.projects.v7.bin
/ECommerceWebApi/.vs/ECommerceWebApi/v17/.futdcache.v2
/ECommerceWebApi/.vs/ECommerceWebApi/v17/.suo
/ECommerceWebApi/bin/Debug/net7.0/appsettings.json
/ECommerceWebApi/bin/Debug/net7.0/ECommerceWebApi.deps.json
/ECommerce.Operation/bin/Debug/net7.0/ECommerce.Data.pdb
/ECommerceWebApi/obj/Debug/net7.0/ref/ECommerceWebApi.dll
/ECommerceWebApi/obj/Debug/net7.0/refint/ECommerceWebApi.dll
/ECommerceWebApi/obj/Debug/net7.0/ECommerceWebApi.csproj.CoreCompileInputs.cache
/ECommerceWebApi/obj/Debug/net7.0/ECommerceWebApi.MvcApplicationPartsAssemblyInfo.cs
/ECommerce.Operation/obj/Release/net7.0/ECommerce.Operation.assets.cache
/ECommerce.Operation/obj/Release/net7.0/ECommerce.Operation.csproj.AssemblyReference.cache
/ECommerce.Operation/obj/Debug/net7.0/ECommerce.Operation.csproj.CoreCompileInputs.cache
*.json
*.cs
*.exe
*.editorconfig
*.CopyComplete
*.BuildWithSkipAnalyzers
*.props
*.targets
*.log
*.dll
*.pdb
*.json
*.cache
*.csproj.user
/bin/
/obj/
/.vs/
/.idea/
/*.suo
/*.user
/*.sln.iml
/backup*/
/nuget/
/packages/
.vscode/
/.vscode/
*.xml
