################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.gitignore
/.gitignore
/.vs/slnx.sqlite
/ECommerceWebApi/.vs/ECommerceWebApi/FileContentIndex/19ad52f3-5955-4efa-b42f-34f1bcdeee3f.vsidx
/ECommerceWebApi/.vs/ECommerceWebApi/FileContentIndex/52501fe6-87fb-4ab3-abe6-8da87ba11bd7.vsidx
/**.vsidx
/.vs/**.vsidx
/public/static/**/bin/
*.vsidx
/.vs/vakifbank-final-case/FileContentIndex/46ee863d-3595-43b4-ba77-92290d64ee2e.vsidx
/.vs/vakifbank-final-case/v17/.wsuo
/ECommerce.Data/bin/Debug/net7.0/ECommerce.Data.dll
/ECommerce.Data/bin/Debug/net7.0/ECommerce.Data.pdb
/.vs/VSWorkspaceState.json
/ECommerce.Data/obj/Debug/net7.0/ref/ECommerce.Data.dll
/ECommerce.Data/obj/Debug/net7.0/refint/ECommerce.Data.dll
/ECommerce.Data/obj/Debug/net7.0/ECommerce.Data.csproj.AssemblyReference.cache
/ECommerce.Data/obj/Debug/net7.0/ECommerce.Data.csproj.BuildWithSkipAnalyzers
/ECommerce.Data/obj/Debug/net7.0/ECommerce.Data.csproj.CoreCompileInputs.cache
/ECommerce.Data/obj/Debug/net7.0/ECommerce.Data.csproj.FileListAbsolute.txt
/ECommerce.Data/obj/Debug/net7.0/ECommerce.Data.dll
/ECommerce.Data/obj/Debug/net7.0/ECommerce.Data.pdb
/ECommerce.Data/obj/ECommerce.Data.csproj.EntityFrameworkCore.targets
/ECommerce.Operation/bin/Debug/net7.0/ECommerce.Data.dll
/ECommerce.Operation/bin/Debug/net7.0/ECommerce.Operation.dll
/ECommerce.Operation/bin/Debug/net7.0/ECommerce.Operation.pdb
/ECommerce.Operation/bin/Debug/net7.0/ECommerce.Schema.dll
/ECommerce.Operation/bin/Debug/net7.0/ECommerce.Schema.pdb
/ECommerce.Operation/obj/Debug/net7.0/ref/ECommerce.Operation.dll
/ECommerce.Payment/obj/Debug/net7.0/ECommerce.Payment.csproj.AssemblyReference.cache
/ECommerce.Operation/obj/Debug/net7.0/ECommerce.Operation.csproj.AssemblyReference.cache
/ECommerce.Operation/obj/Debug/net7.0/ECommerce.Operation.csproj.FileListAbsolute.txt
/ECommerce.Operation/obj/Debug/net7.0/ECommerce.Operation.dll
/ECommerce.Operation/obj/Debug/net7.0/ECommerce.Operation.pdb
/ECommerce.Operation/obj/Debug/net7.0/refint/ECommerce.Operation.dll
/ECommerce.Schema/bin/Debug/net7.0/ECommerce.Data.dll
/ECommerce.Schema/bin/Debug/net7.0/ECommerce.Data.pdb
/ECommerce.Schema/bin/Debug/net7.0/ECommerce.Schema.dll
/ECommerce.Schema/bin/Debug/net7.0/ECommerce.Schema.pdb
/ECommerce.Schema/obj/Debug/net7.0/ref/ECommerce.Schema.dll
/ECommerce.Schema/obj/Debug/net7.0/refint/ECommerce.Schema.dll
*.cache
/ECommerce.Schema/obj/Debug/net7.0/ECommerce.Schema.csproj.BuildWithSkipAnalyzers
*.txt
*.dll
*.pdb
*.config
/ECommerceWebApi/.vs/ECommerceWebApi/DesignTimeBuild/.dtbcache.v2
/ECommerceWebApi/.vs/ECommerceWebApi/FileContentIndex/7cefe968-7899-4667-aaf0-4a6c72ad53be.vsidx
/ECommerceWebApi/obj/ECommerceWebApi.csproj.EntityFrameworkCore.targets
/ECommerceWebApi/obj/ECommerceWebApi.csproj.nuget.dgspec.json
/ECommerceWebApi/obj/ECommerceWebApi.csproj.nuget.g.props
/ECommerceWebApi/obj/project.assets.json
/ECommerceWebApi/obj/project.nuget.cache
/ECommerceWebApi/obj/Release/net7.0/ECommerceWebApi.assets.cache
/ECommerceWebApi/bin/Debug/net7.0/ECommerce.Operation.dll
/ECommerceWebApi/.vs/ProjectEvaluation/ecommercewebapi.metadata.v7.bin
/ECommerceWebApi/.vs/ProjectEvaluation/ecommercewebapi.projects.v7.bin
/ECommerceWebApi/.vs/ECommerceWebApi/v17/.futdcache.v2
/ECommerceWebApi/.vs/ECommerceWebApi/v17/.suo
/ECommerceWebApi/bin/Debug/net7.0/appsettings.json
/ECommerceWebApi/bin/Debug/net7.0/ECommerceWebApi.deps.json
/ECommerce.Operation/bin/Debug/net7.0/ECommerce.Data.pdb
/ECommerceWebApi/obj/Debug/net7.0/ref/ECommerceWebApi.dll
/ECommerceWebApi/obj/Debug/net7.0/refint/ECommerceWebApi.dll
/ECommerceWebApi/obj/Debug/net7.0/ECommerceWebApi.csproj.CoreCompileInputs.cache
/ECommerceWebApi/obj/Debug/net7.0/ECommerceWebApi.MvcApplicationPartsAssemblyInfo.cs
/ECommerce.Operation/obj/Release/net7.0/ECommerce.Operation.assets.cache
/ECommerce.Operation/obj/Release/net7.0/ECommerce.Operation.csproj.AssemblyReference.cache
/ECommerce.Operation/obj/Debug/net7.0/ECommerce.Operation.csproj.CoreCompileInputs.cache
*.json
*.cs
*.exe
*.editorconfig
*.CopyComplete
*.BuildWithSkipAnalyzers
*.props
*.targets
/ECommerceWebApi/bin/Debug/net7.0/ECommerce.Base.dll
/ECommerceWebApi/bin/Debug/net7.0/Microsoft.AspNetCore.Authentication.JwtBearer.dll
/ECommerceWebApi/bin/Debug/net7.0/Microsoft.IdentityModel.Logging.dll
/ECommerceWebApi/bin/Debug/net7.0/Microsoft.IdentityModel.JsonWebTokens.dll
/ECommerceWebApi/bin/Debug/net7.0/System.IdentityModel.Tokens.Jwt.dll
/ECommerceWebApi/bin/Debug/net7.0/Microsoft.IdentityModel.Tokens.dll
*.log 
*.dll
/ECommerce.Base/bin/Debug/net7.0/ECommerce.Base.deps.json
/ECommerce.Base/bin/Debug/net7.0/ECommerce.Base.dll
/ECommerce.Base/bin/Debug/net7.0/ECommerce.Base.pdb
/ECommerce.Base/obj/Debug/net7.0/ref/ECommerce.Base.dll
/ECommerce.Base/obj/Debug/net7.0/refint/ECommerce.Base.dll
/ECommerce.Base/obj/Debug/net7.0/ECommerce.Base.csproj.FileListAbsolute.txt
/ECommerce.Base/obj/Debug/net7.0/ECommerce.Base.dll
/ECommerce.Base/obj/Debug/net7.0/ECommerce.Base.pdb
/ECommerce.Base/obj/Debug/net7.0/ECommerce.Base.csproj.CoreCompileInputs.cache
/ECommerce.Data/bin/Debug/net7.0/ECommerce.Base.dll
/ECommerce.Data/bin/Debug/net7.0/ECommerce.Base.pdb
/ECommerce.Data/bin/Debug/net7.0/ECommerce.Data.deps.json
/ECommerce.Data/bin/Debug/net7.0/ECommerce.Data.runtimeconfig.json
/ECommerce.Data/obj/Debug/net7.0/ECommerce.Data.csproj.CopyComplete
/ECommerce.Data/obj/Debug/net7.0/ECommerce.Data.genruntimeconfig.cache
/ECommerce.Operation/bin/Debug/net7.0/ECommerce.Base.dll
/ECommerce.Operation/bin/Debug/net7.0/ECommerce.Base.pdb
/ECommerce.Operation/bin/Debug/net7.0/ECommerce.Operation.deps.json
/ECommerce.Operation/obj/Debug/net7.0/ECommerce.Operation.csproj.CopyComplete
/ECommerce.Payment/bin/Debug/net7.0/ECommerce.Base.dll
/ECommerce.Payment/bin/Debug/net7.0/ECommerce.Base.pdb
/ECommerce.Payment/bin/Debug/net7.0/ECommerce.Payment.deps.json
/ECommerce.Payment/bin/Debug/net7.0/ECommerce.Payment.dll
/ECommerce.Payment/bin/Debug/net7.0/ECommerce.Payment.pdb
/ECommerce.Payment/obj/Debug/net7.0/ref/ECommerce.Payment.dll
/ECommerce.Payment/obj/Debug/net7.0/ECommerce.Payment.AssemblyInfo.cs
/ECommerce.Payment/obj/Debug/net7.0/ECommerce.Payment.AssemblyInfoInputs.cache
/ECommerce.Payment/obj/Debug/net7.0/ECommerce.Payment.assets.cache
/ECommerce.Payment/obj/Debug/net7.0/ECommerce.Payment.csproj.CopyComplete
/ECommerce.Payment/obj/Debug/net7.0/ECommerce.Payment.csproj.CoreCompileInputs.cache
/ECommerce.Payment/obj/Debug/net7.0/ECommerce.Payment.csproj.FileListAbsolute.txt
/ECommerce.Payment/obj/Debug/net7.0/ECommerce.Payment.dll
/ECommerce.Payment/obj/Debug/net7.0/ECommerce.Payment.GeneratedMSBuildEditorConfig.editorconfig
/ECommerce.Payment/obj/Debug/net7.0/ECommerce.Payment.pdb
/ECommerce.Payment/obj/Debug/net7.0/refint/ECommerce.Payment.dll
/ECommerceWebApi/bin/Debug/net7.0/runtimes/unix/lib/net6.0/Microsoft.Data.SqlClient.dll
/ECommerceWebApi/bin/Debug/net7.0/runtimes/unix/lib/net6.0/System.Drawing.Common.dll
/ECommerceWebApi/bin/Debug/net7.0/runtimes/win/lib/net6.0/Microsoft.Data.SqlClient.dll
/ECommerceWebApi/bin/Debug/net7.0/runtimes/win/lib/net6.0/Microsoft.Win32.SystemEvents.dll
/ECommerceWebApi/bin/Debug/net7.0/runtimes/win/lib/net6.0/System.Drawing.Common.dll
/ECommerceWebApi/bin/Debug/net7.0/runtimes/win/lib/net6.0/System.Runtime.Caching.dll
/ECommerceWebApi/bin/Debug/net7.0/runtimes/win/lib/net6.0/System.Security.Cryptography.ProtectedData.dll
/ECommerceWebApi/bin/Debug/net7.0/runtimes/win/lib/net6.0/System.Windows.Extensions.dll
/ECommerceWebApi/bin/Debug/net7.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
/ECommerceWebApi/bin/Debug/net7.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
/ECommerceWebApi/bin/Debug/net7.0/appsettings.Development.json
/ECommerceWebApi/bin/Debug/net7.0/AutoMapper.dll
/ECommerceWebApi/bin/Debug/net7.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
/ECommerce.Schema/bin/Debug/net7.0/ECommerce.Base.dll
/ECommerce.Schema/bin/Debug/net7.0/ECommerce.Base.pdb
/ECommerce.Schema/bin/Debug/net7.0/ECommerce.Schema.deps.json
/ECommerceWebApi/bin/Debug/net7.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
/ECommerce.Schema/obj/Debug/net7.0/ECommerce.Schema.csproj.CopyComplete
/ECommerce.Schema/obj/Debug/net7.0/ECommerce.Schema.csproj.CoreCompileInputs.cache
/ECommerceWebApi/obj/Debug/net7.0/ECommerceWebApi.csproj.CopyComplete
/ECommerceWebApi/obj/Debug/net7.0/ECommerceWebApi.genruntimeconfig.cache
/ECommerceWebApi/obj/Debug/net7.0/ECommerceWebApi.RazorTargetAssemblyInfo.cache
/ECommerceWebApi/obj/Debug/net7.0/staticwebassets/ECommerceWebApi.StaticWebAssets.Manifest.cache
/ECommerceWebApi/obj/Debug/net7.0/staticwebassets/ECommerceWebApi.StaticWebAssets.xml
